//colors
$color-alert-border: #f36;
$color-alert: #ffeaef;
$color-white: #fff;
$color-tenant: #2c9942;
$color-white-transparent-10: rgba(255, 255, 255, 0.1);
$color-white-transparent-50: rgba(255, 255, 255, 0.5);
$color-black: #000;
$color-green: #21A038;
$color-lightgrey: #F7F8FA;
$color-grey: #E7E9EB;


//screens
$screen-lg: 1440px;
$screen-md: 1024px;
$screen-sm: 998px;
$screen-xs: 460px;

//transitions
$transition-normal: 0.3s linear;