.alert {
  &-container {
    z-index: 10000;

    position: fixed;
    top: 50px;
    left: 50%;

    transform: translateZ(0) translateX(-50%);

    display: block;
    width: 400px;
  }

  &-item {
    position: relative;

    padding: 20px 45px;
    border: solid 1px $color-alert-border;
    background-color: $color-alert;

    border-radius: 16px;

    &__close {
      @include close(20px, 20px)
    }

    & + & {
      margin-top: 30px;
    }
  }

  @media only screen and (max-width: $screen-sm) {
    &-container {
      top: 20px;
      left: 20px;
      right: 20px;

      width: calc(100% - 40px);

      transform: translateZ(0);
    }

    &-item {
      padding: 20px;
    }
  }
}
