* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 100%;
  font-family: 'TT Norms', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #343434;
}

body {
  //overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
  transition: all .3s linear;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
}

.bg-item {
  position: absolute;

  &:first-of-type {
    width: 1205px;
    height: 1250px;
    left: calc(50% + -120px);
    top: -598px;
  }

  &:nth-of-type(2) {
    width: 1282px;
    height: 1330px;
    left: calc(50% + -1490px);
    top: 370px;
    transform: rotate(-180deg);
  }

  &:nth-of-type(3) {
    width: 1286px;
    height: 1334px;
    left: calc(50% + 105px);
    top: 1457px;
    transform: rotate(105deg);
  }
}
