* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 100%;
  font-family: 'TT Norms', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #343434;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  transition: all .3s linear;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
}

.bg-item {
  position: absolute;

  &--first {
    width: 1205px;
    height: 1250px;
    left: calc(50% + -120px);
    top: -598px;
  }

  &--second {
    width: 1282px;
    height: 1330px;
    left: calc(50% + -1490px);
    top: 370px;
    transform: rotate(-180deg);
  }

  &--third {
    width: 1286px;
    height: 1334px;
    left: calc(50% + 115px);
    bottom: -600px;
    transform: rotate(105deg);
  }

  &--fourth {
    display: none;
  }
}

@media (max-width: 425px) {
  .bg-item {

    &--first {
      width: 703px;
      height: 729px;
      transform: rotate(15deg);
      top: -658px;
      left: calc(50% + -70px);
    }

    &--second {
      width: 629px;
      height: 576px;
      transform: rotate(-170.02deg);
      left: calc(50% + -593px);
      top: 150px;
    }

    &--third {
      width: 527px;
      height: 546px;
      transform: none;
      left: calc(50% + -15px);
      bottom: auto;
      top: 1050px;
    }

    &--fourth {
      display: block;
      width: 376px;
      height: 390px;
      left: calc(50% - 400px);
      bottom: 1060px;
      transform: rotate(180deg);
    }
  }
}
